<template>
	<view class="sku-page">
		<button type="primary" @click="show('buy')">立即购买</button>
		<button type="primary" @click="show('card')">加入购物车</button>
		<xhSku :visible.sync="showVisible" :action="skuAction" :couponList="couponList"
			:styleOptions="styleOptions" :parameter="parameter" :difference="difference" :propertyList="propertyList"
			:ifActive="true" :defaultData="defaultGoods" @creatOrder="creatOrder" @addCard="addCard" :proId="currentKey">
			<view class="">
				<image class="detail" src="https://img0.baidu.com/it/u=1636813397,829912038&fm=253&fmt=auto&app=138&f=JPEG?w=502&h=500" mode="widthFix"></image>
				<image class="detail" src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fitem%2F202002%2F11%2F20200211233823_bligy.thumb.1000_0.jpg&refer=http%3A%2F%2Fc-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1653375296&t=d54dee3f4774647d55c97fb52f82dc84" mode="widthFix"></image>
			</view>	 
		</xhSku>
	</view>
</template>

<script>
	import xhSku from '@/uni_modules/xh-sku/components/xh-sku/xh-sku.vue'; 
	
export default {
		data() {
			return {

				showVisible: false,
				business: {
					shipments_address: ''
				}, //商家信息
				goods: {}, //商品信息 
				currentKey:'',	
				styleOptions:{
					cardBtnCorlor:'#ff5500',
					buyBtnColor:'#50AB9F',
					cardBtnText:'立即加入购物车',
					buyBtnText:'立即购买',
				},
				defaultGoods: {
					preImg: "https://img2.baidu.com/it/u=3895119537,2684520677&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=500",
					title: "测试标题",
					price: "299",
					stock: "45"
				},
				modal: false,
				// payFlag: false,
				time: null,
				content: '请您先登录',
				action: 'login',

				details_img: '',
				// paymentPwd: '', //支付密码
				difference: [{
						id: '19',
						skus_price: 200,
						skus_stock: 19,
						skus_pic: 'https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fup.enterdesk.com%2Fedpic%2Fec%2Fea%2F0f%2Fecea0f0a327ee84a8447ecddd997f663.jpg&refer=http%3A%2F%2Fup.enterdesk.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1653373440&t=bd9a3a86c79ce3addabdc36e91f34558',
						difference: ['白色', 'LS', '豪华']
					},
					{
						id: '21',
						skus_price: 300,
						skus_stock: 10,
						skus_pic: 'https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fup.enterdesk.com%2Fedpic%2F9f%2F6b%2Fc8%2F9f6bc8cf69fc651d6f2d2af3778dee17.jpg&refer=http%3A%2F%2Fup.enterdesk.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1653373440&t=be56cb1cae66248780b0bec83ad06e51',
						difference: ['黑色', 'XL', '低调']
					}
				],
				parameter: [{
						key: '123',
						checked: true,
						name: '颜色',
						list: [{
								checked: true,
								name: '白色'
							},
							{
								checked: true,
								name: '黑色'
							},
							{
								checked: true,
								name: '绿色'
							}
						]
					},
					{
						key: 'f84',
						checked: true,
						name: '尺寸',
						list: [{
								checked: true,
								name: 'XL'
							},
							{
								checked: true,
								name: 'LS'
							}
						]
					},
					{
						key: '231',
						checked: true,
						name: '款式',
						list: [{
								checked: true,
								name: '豪华'
							},
							{
								checked: true,
								name: '低调'
							},
							{
								checked: true,
								name: '简约'
							}
						]
					},

				],
				propertyList: [{
						service_type_name: '保修',
						key: 'bx',
						required: false,
						multiple: false,
						default: '342dfadsf',
						list: [{
								checked: true,
								service_name: '一年',
								service_code: '342dfadsf',
								service_price: 35,
							},
							{
								checked: true,
								service_name: '两年',
								service_code: '56gsdf',
								service_price: 58
							}
						]
					},
					{
						service_type_name: '安装',
						key: 'az',
						required: true,
						multiple: true,
						list: [{
								checked: true,
								service_name: '上门安装',
								service_code: '2134fgsd',
								service_price: 30
							},
							{
								checked: true,
								service_name: '预约安装',
								service_code: '4325gd',
								service_price: 50
							},
							{
								checked: true,
								service_name: '售后',
								service_code: '122131',
								service_price: 20
							}
						]
					}
				],

				showModalStatus: false,

				// endTime: '',
				platform: 'android',
				// activityInfo: '', //限时购信息
				// area: '',
				couponList: [
					{
						order_amount: 100,
						price: 20
					},
					{
						order_amount: 200,
						price: 10
					}
				], //可以使用的优惠券列表   0是通用券 1是商品券
				skuAction: 'buy',
				hasGetCoupon: {} //存放已领取的商品券
			};
		},
		watch: {
			hasLogin(newValue, oldValue) {
				if (newValue) {
					this.myCards()
				}

			}
		},
		components: {

			xhSku
		},
		onLoad(options) {

		},
		computed: {
			restTimeValied() {
				let t = this.endTime
				// console.log(t)
				if (!t) {
					return false
				}
				let s = new Date(t).getTime()

				let n = new Date().getTime();
				// console.log(s)
				let date = s - n;

				let days = date / 1000 / 60 / 60 / 24;
				let daysRound = Math.floor(days);
				let hours = date / 1000 / 60 / 60 - (24 * daysRound);
				let hoursRound = Math.floor(hours);
				let minutes = date / 1000 / 60 - (24 * 60 * daysRound) - (60 * hoursRound);
				let minutesRound = Math.floor(minutes);
				let seconds = date / 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound);
				let secondsRound = Math.floor(seconds);
				let time = "倒计时" + (daysRound + "天" + hoursRound + "时" + minutesRound + "分" + secondsRound + "秒");

				let obj = {
					d: parseInt(daysRound),
					h: parseInt(hoursRound),
					m: parseInt(minutesRound),
					s: parseInt(secondsRound)
				}
				// console.log(obj);
				return obj
			},
			// 最优商品券的判断
			mostCoupon() {
				let spList = {}
				// console.log(555,this.couponList)
				// let hasSP = this.couponList.some(item => {
				// 	if (item.use_area == 1) {
				// 		spList[item.order_amount] = item
				// 	}
				// 	return item.use_area == 1 ? true : false
				// })

				// if (hasSP) {
				// 	// 有商品券
				// 	if (this.goods.goods_price.indexOf('-') >= 0) {
				// 		return ''
				// 	} else {

				// 		let arr = {}
				// 		this.couponList.map(it => {
				// 			if (it.use_area == 1 && parseInt(this.goods.goods_price) >= it.order_amount) {
				// 				arr[it.price] = it
				// 			}
				// 		})
				// 		// console.log(77,arr)
				// 		if (Object.keys(arr).length) {
				// 			let k = Math.max(...Object.keys(arr))
				// 			return parseInt(this.goods.goods_price) - arr[k].price
				// 		} else {
				// 			return ''
				// 		}
				// 		// return  parseInt(this.goods.goods_price)  - arr[k].price
				// 	}

				// } else {
				// 	return '' //没有优惠价
				// }
			}
		},
		methods: {
			show(act) {
				this.currentKey = act
				this.skuAction = act
				this.showModalStatus = false
				this.showVisible = true
				// this.$refs.params.show();
				// debugger
			},
			cart() {
				uni.switchTab({
					url: '/pages/home/cart'
				})
			},


			_none() {},
			_toggleModal() {
				this.showModalStatus = !this.showModalStatus;
			},
			addCard(data) {
				this._addCard(data);
			},
			creatOrder(data) {
				this._buy(data);
			},

			// 关闭
			hideModal() {
				this.showModalStatus = false;
			},

			// 购买
			_buy(data) {


				console.log('_buy', data)
			},

			// 加入购物车
			async _addCard(data) {

				console.log('_addCard', data)
			},

			// 取消支付
			cancelPass() {
				this.payFlag = false;
			},


		}
	};
</script>

<style lang="scss">
	.sku-page {
		padding-top: 80upx;
		.sku-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 400upx;
			height: 80upx;
			margin: 0 auto;
			border-radius: 10upx;
			color: white;
		}
	}
</style>
