<!--
 * @Author: loserjohn
 * @Date: 2022-04-21 18:20:34
 * @LastEditors: loserjohn
 * @LastEditTime: 2022-04-23 15:58:07
 * @Description: ---
 * @FilePath: \my-project\src\pages\index\index.vue
-->
<template>
  <view class="content">
    <!-- <u-navbar title="" :auto-back="false" @rightClick="rightClick" /> -->
    <image class="logo" src="/static/logo.png" />
	<button type="primary" @click="jump">跳转skulist测试</button>
  </view>
</template>

<script>
 
import { mapGetters } from 'vuex' 
export default {
  data() {
    return {
      title2: 'Hello'
    }
  },
  computed: {
    ...mapGetters(['gloadApp', 'title'])
  },
  onLoad() {
    console.log('local', process.env.VUE_APP_BASE_API)
    // debugger
  },
  methods: {
    rightClick() {},
    
    jump() {
      try {
        // uni.showToast({
        //   title: '123'
        // })
        uni.navigateTo({ url: '/pages/feature/sku/index' })
      } catch (error) {
        console.log(error)
      }

      // debugger
    }
  }
}
</script>

<style lang="scss" scoped>
$color: red;
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 200rpx;
  width: 200rpx;
  margin: 200rpx auto 50rpx auto;
}

.text-area {
  display: flex;
  justify-content: center;
  background: $color;
}

.title {
  font-size: 36rpx;
  color: $color;
}
</style>
