<!--
 * @Author: loserjohn
 * @Date: 2022-04-21 18:20:34
 * @LastEditors: loserjohn
 * @LastEditTime: 2022-04-23 15:58:07
 * @Description: ---
 * @FilePath: \my-project\src\pages\index\index.vue
-->
<template>
  <view class="content">  
    <image class="logo" src="/static/logo.png" />
    <view>
      <view class="title">vuex/app数据{{ title }}</view>
      <view class="title">vuex数据:{{ gloadApp }}</view>
      <view class="title">本页数据：{{ title2 }}</view>
    </view>
    <button type="primary" @click="test">请求测试</button> 
    <u-button type="primary">sdfsdfsd</u-button>
    <u-icon name="photo" />
    <u-avatar />
  </view>
</template>

<script>
	
import Crypto from  'crypto-js'
import moment  from 'moment'
import { userInfo } from '@/api/user'
import { mapGetters } from 'vuex'
export default {
  data() {
    return {
      title2: 'Hello'
    }
  },
  computed: {
    ...mapGetters(['gloadApp', 'title'])
  },
  onLoad() {
    console.log('local', process.env.VUE_APP_BASE_API)
    // debugger
	console.log(moment(),Crypto.MD5('123123123').toString())
	console.log()
	this.test()
  },
  methods: {
    rightClick() {},
    async test() {
      try {
        const res = await userInfo()
        console.log(res)
        // debugger
      } catch (error) {
        console.log(error)
      }
    },
    jump() {
      try {
        // uni.showToast({
        //   title: '123'
        // })
        uni.navigateTo({ url: '/pages/user/index' })
      } catch (error) {
        console.log(error)
      }

      // debugger
    }
  }
}
</script>

<style lang="scss" scoped>
$color: red;
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 200rpx;
  width: 200rpx;
  margin: 200rpx auto 50rpx auto;
}

.text-area {
  display: flex;
  justify-content: center;
  background: $color;
}

.title {
  font-size: 36rpx;
  color: $color;
}
</style>
