<!--
 * @Author: loserjohn
 * @Date: 2022-04-21 18:20:34
 * @LastEditors: loserjohn
 * @LastEditTime: 2022-04-23 15:39:26
 * @Description: ---
 * @FilePath: \my-project\src\App.vue
-->
<script>
	import { userInfo } from '@/api/user'
export default {
  onLaunch:async function () {
    console.log('App Launch')
	try {
	  const res = await userInfo()
 
	} catch(e) {
		
	  console.log(e)
	  debugger
	}
	
  },
  onShow: function () {
    console.log('App Show')
  },
  onHide: function () {
    console.log('App Hide')
  }
}
</script>

<style lang="scss">
/*每个页面公共css */
@import 'uview-ui/index.scss';
</style>
